
<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center" data-aos="fade-up">
      <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
        <h2><%= Setting.main_title %> </h2>
        <div>
          <a href="#about" class="btn-get-started scrollto"><%= Setting.main_get_starred %> </a>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
        <%= image_tag('img/intro-img.svg', class: 'img-fluid')%>
      </div>
    </div>

  </div>
</section><!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="about" class="why-us">
    <div class="container-fluid" data-aos="fade-up">

      <header class="section-header">
        <h3><%= Setting.about_company_title %></h3>
        <p><%= Setting.about_company_description %></p>
      </header>

      <div class="row">

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="why-us-img">
            <%= image_tag('img/why-us.jpg', class: 'img-fluid') %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <%= Setting.about_company_content %>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= About Section ======= -->
  <section id="why-us" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <%= image_tag('img/about-img.jpg')%>
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2><%= Setting.about_us_title %></h2>
            <h3><%= Setting.about_us_description %></h3>
            <%= Setting.about_us_content %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row counters" data-aos="fade-up" data-aos-delay="100">

        <%- (1...4).each do |counter| %>
          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up"><%= Setting.send("counter_#{counter}_value") %></span>
            <p><%= Setting.send("counter_#{counter}_title") %></p>
          </div>
        <% end %>
      </div>

    </div>

  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3><%= Setting.services_title %></h3>
          <p><%= Setting.services_description %></p>
      </header>

      <div class="row">

        <%- @services.each_with_index do |service, index| %>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="<%= index * 100 %>">
            <%= render service %>
          </div>
        <% end %>
      </div>

    </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title"><%= Setting.price_title  %></h3>
          <p class="cta-text"> <%= Setting.price_description  %></p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Скачать</a>
        </div>
      </div>

    </div>
  </section><!--  End Call To Action Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 class="section-title"><%= Setting.portfolio_title  %></h3>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Все</li>
            <%- @portfolio_categories.each do |category| %>
              <li data-filter=".filter-<%= category.id %>"><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <%- @portfolios.each do |portfolio| %>
          <div class="col-lg-4 col-md-6 portfolio-item filter-<%= portfolio.portfolio_category_id%>">
            <div class="portfolio-wrap">
              <%= image_tag(portfolio.image.url, class: "img-fluid") %>
              <div class="portfolio-info">
                <h4>
                  <%= link_to portfolio.name, portfolio  %>
                </h4>
                <p><%= portfolio.description  %></p>
                <div>
                  <%= link_to content_tag(:i, '', class: 'ion ion-eye'), portfolio.image.url, data: {gall: 'portfolioGallery'}, title: portfolio.name, class: 'link-preview venobox'%>
                  <%= link_to content_tag(:i, '', class: 'ion ion-android-open'), portfolio, class: 'link-details', title: 'Подробнее'  %>
                </div>
              </div>
            </div>
          </div>

      <% end %>
      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3><%= Setting.sales_title  %></h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">

          <div class="owl-carousel testimonials-carousel">

            <%- @sales.each do |sale| %>
              <div class="testimonial-item">
                <%= image_tag(sale.image.url, class: 'testimonial-img')  %>
                <h3><%= sale.name %></h3>
                <h4><%= sale.description %></h4>
                <p>
                  <%= sale.content.html_safe %>
                </p>
              </div>
            <% end %>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3><%= Setting.team_title  %></h3>
        <p><%= Setting.team_description  %></p>
      </div>

      <div class="row">

        <%- @employers.each_with_index do |employee, index|  %>
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="<%= index * 100 %>">
            <div class="member">
              <%= image_tag( employee.image.url, class: 'img-fluid') %>
              <div class="member-info">
                <div class="member-info-content">
                  <h4><%= employee.name %></h4>
                  <span><%= employee.position %></span>
                  <div class="social">
                    <%- if employee.youtube %>
                      <%= link_to fa_icon(:youtube), employee.youtube, class: 'youtube'%>
                    <% end %>
                    <%- if employee.facebook %>
                      <%= link_to fa_icon(:facebook), employee.facebook, class: 'facebook'%>
                    <% end %>
                    <%- if employee.instagram %>
                      <%= link_to fa_icon(:instagram), employee.instagram, class: 'instagram'%>
                    <% end %>
                    <%- if employee.vk %>
                      <%= link_to fa_icon(:vk), employee.vk, class: 'vk'%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3><%= Setting.clients_title  %></h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <%- @clients.each do |client| %>
          <%= image_tag(client.image.url) %>
        <% end %>
        <img src="assets/img/clients/client-1.png" alt="">
        <img src="assets/img/clients/client-2.png" alt="">
        <img src="assets/img/clients/client-3.png" alt="">
        <img src="assets/img/clients/client-4.png" alt="">
        <img src="assets/img/clients/client-5.png" alt="">
        <img src="assets/img/clients/client-6.png" alt="">
        <img src="assets/img/clients/client-7.png" alt="">
        <img src="assets/img/clients/client-8.png" alt="">
      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3><%= Setting.faq_title  %></h3>
        <p><%= Setting.faq_description  %></p>
      </header>

      <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
        <%- @faqs.each do |faq| %>
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq<%= faq.id %>"><%= faq.question %><i class="ion-android-remove"></i></a>
            <div id="faq<%= faq.id %>" class="collapse" data-parent="#faq-list">
              <p>
                <%= faq.response %>
              </p>
            </div>
          </li>
        <% end %>

      </ul>

    </div>
  </section><!-- End F.A.Q Section -->

</main><!-- End #main -->